
<div class="wrapper">
    <div class="overview noselect">
        <h3 style="font-family: 'aquire'">What Is ExoLog?</h3>
        <p>Exolog is a modern logging solution platform for distributed and concurent systems. We support both large scale and personal projects. With a variety of applications across multiple languages, ExoLog holds support for a variety of logging mediums to track your applications progress and development</p>
    </div>
    <div class="how noselect">
        <h3 style="font-family: 'aquire'">How Does it Work?</h3>
        <p>ExoLog works to be as lightweight and reliable as possible</p>
    </div>
    <div class="stat noselect">
        <h3 style="font-family: 'aquire'">Highlights</h3>
        <p>Light Weight</p>
    </div>
    <div class="opensource noselect">
        <h3 style="font-family: 'aquire'">Were Open Source!</h3>
        <p>Open source projects are the backbone of the worlds technology advancement. We want to offer the opportunity for our community to contribute to our applications and to provide the ability for individuals or orginizations to self host our content on their own servers and systems.</p>
        <img src="{{ url_for('static', filename='icon/git-guy.svg') }}">
    </div>
</div>